@model FiapNew.Models.Pessoa

<div class="container body-content">
    <div class="jumbotron">
        @*<h1>@ViewData["mensagem"]</h1>*@
        @*<h1>@ViewBag.mensagem</h1>*@

        <h1>@Model.Nome</h1>
        <h1>@Model.Nascimento</h1>
        <h1>@Model.Id</h1>
        <h1>@Model.Sexo</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus ullamcorper orci, non viverra metus lacinia viverra. Donec quis metus accumsan, volutpat eros non, pharetra eros. In sollicitudin ullamcorper metus sit amet feugiat. Vestibulum ut massa tortor. Nullam in risus congue risus bibendum convallis sit amet in sem.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    </div>
</div>
